<% @questions.each.with_index(1) do |question, question_index| %>
  <div class="question" id="question-<%=question_index%>">
    <div class="columns is-centered">
      <div class="column is-6">
          <div class="box has-text-centered">
          <p><%= question['questions'] %></p>
          <% question['choices'].each.with_index(1) do |choice, index| %>
              <div class="m15"><a class="button is-link is-block is-size-6 choice" id="choice-<%=index%>"><p><%= choice %></p></a></div>
          <% end %>
          <% correct_index = question['answer'].match(/\d+\.\s+(\w)/).captures.first.upcase.ord - "A".ord + 1 %>
          <p class="is-hidden answer is-size-7" data-correct="<%= correct_index %>"><%= question['answer'] %></p>
          </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $('.choice').click(function(){
    $(this).css({"border-color": "#ee7621", "border-width":"3px", "border-style":"solid"});
    var question_id = $(this).parents('.question')[0].id
    var correct_index = $('#' + question_id + ' .answer').data('correct')
    $('#' + question_id + ' #choice-' + correct_index).removeClass('is-link').addClass('is-success');
    $('#' + question_id + ' .answer').removeClass('is-hidden')
    if(this.id == "choice-<%=@correct_index%>"){
      setTimeout(location.reload.bind(location), 2000);
    }
  })
</script>